.taskForm{
  padding: 20px;
}

#formErrors{
  padding-left: 20px;
  color: red;
}

.tableBlock{
  padding: 10px 10px 40px;
}

.tableBlock #taskTable td, .tableBlock #taskTable th{
  padding: 10px;
}

#taskTable .dataCreateSort, #taskTable .dataEndSort{
  cursor: pointer;
}